<div class="cta-about-me">
    <div class="image">
        <img src="{{ base_url }}/uploads/royal_pavillion.jpg" alt="Bcn" />
    </div>
    <div class="text">
        <p>
            Hi,<br/>
I am Sergi, a web & CMS developer based in United Kingdom. I am specialised in HTML, CSS, Javascript and PHP based technologies like TYPO3, Wordpress and Zend.<br/><br/>                                                 
        </p>
        <p>
            <a href="{{ base_url }}/about-me" class="button-transparent">Meet me</a>
            <a href="{{ base_url }}/contact" class="button-transparent float-right">Contact me</a>
        </p>  
    </div>
</div>